@import '../../../../assets/styles/brand-colors';
@import '../../../../assets/styles/font-styles';

.title-modal-conyuge {
    /* h2 */
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #D0021B;
}