@import '../../assets/styles/brand-colors';
.new{
    background: transparent;
    color: $white;
    padding: 20px 60px;
    ol{
        margin: 20px 10px;
        a{
            font-size: 24px;
            color: wheat;
            text-decoration: none;
            text-transform: capitalize;
            margin: 10px;
            li{
                cursor: pointer;
                text-align: left;
                padding: 10px 20px;
                border-radius: 10px;
                background: #0000008c;
                transition: all 0.5s ease;
                width: 100%;
                list-style: decimal;
                &:hover{
                    background: rgba(0, 0, 0, 0.726);
                }
            }
        }
    }
}