@import '../../../assets/styles/brand-colors';
@import '../../../assets/styles/font-styles';

.form-control-financial {
  height: 36px;
  border-radius: 18px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0 0 2px rgba(208, 2, 27, 0.704044);
  margin: 8px;
  padding-left: 10px;
}

.flex-container-financial {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-financial-item-left {
  padding: 20px;
  flex: 50%;
  text-align: left;
  border: 2px solid #D0021B;
  border-radius: 44px;
  margin: 20px;
}

.flex-financial-item-right {
  padding: 20px;
  flex: 50%;
  border: 2px solid #D0021B;
  border-radius: 44px;
  margin: 20px;
}

.form-control-large-text-area {
  width: 618px;
  height: 36px;
  border-radius: 18px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-shadow: 0 0 2px rgba(208, 2, 27, 0.704044);
  margin: 8px;
  padding-left: 10px;
}

.form-control-large-text-area {
  width: 680px;
  height: 76px;
}

@media (max-width: 800px) {
  .flex-container-financial {
    flex-direction: column;
  }
  .flex-financial-item-left {
    text-align: center;
  }
}