@import './assets/styles/brand-colors';
@import './assets/styles/font-styles';

@import '~bootstrap/scss/bootstrap.scss';

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body{
  max-width: 100%;
  overflow-x: hidden;
}
.body-general {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-login {
  background: url('./assets/images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-login17{
  background: linear-gradient(to right, #050713, #5b5c64) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-grow-2 {
  flex-grow: 2 !important;
}
.flex-grow-3 {
  flex-grow: 3 !important;
}
.flex-grow-4 {
  flex-grow: 4 !important;
}
.flex-grow-6 {
   flex-grow: 6 !important;
 }
.flex-grow-8 {
  flex-grow: 8 !important;
}

.flex-grow-12 {
  flex-grow: 12 !important;
}
.modal-header {
  border-bottom: 0 !important;

}
.modal {
  --bs-modal-border-radius: 20px !important;
  --bs-modal-border-color: #FFFFFF !important;
}

.dn{
  display: none !important;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

li{
  list-style: none;
}

@media (max-width: 768px) {
  .responsiveFix{
    width: 100%;
    overflow-y: hidden;
  }
  
  .responsiveAuto{
    width: 300%;
  }
}

html::-webkit-scrollbar,
body::-webkit-scrollbar, 
.responsiveFix::-webkit-scrollbar
{
    width: 5px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.responsiveFix::-webkit-scrollbar-thumb
{
    background: #0e0d0d65;
    border-radius: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track, 
.responsiveFix::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 5px transparent;
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}